html {
    width: 1500px;
    height: 1080px;
}

body {
    width: 100%;
    height: 100%;
}

.minimalmargin {
    margin: 3%;
}

.centertext{
    text-align: center;
}

.displayblock {
    display: block;
}